.ant-layout.ant-layout-has-sider > .ant-layout,
.ant-layout.ant-layout-has-sider > .ant-layout-content {
  /* The original overflow-x value in antd.css is "hidden". This is likely to
   * prevent horizontal scrolling when content isn't properly responsive, but
   * it also prevents position: sticky; from being used. */
  overflow-x: inherit;
}

.ant-tabs-tab-active {
  /* Default is 500. Keeping the same weight prevents text shifting */
  font-weight: normal !important;
}

.ant-table-tbody > tr.ant-table-expanded-row:hover > td {
  /* The TestEditor component lives inside expanded test rows. The background
   * color changes can get annoying, so we'll turn them off. */
  background: none !important;
}

.ant-table-tbody > tr > td .ant-form-explain {
  /* The TestEditor form text is improperly broken between words. Add form
   * explanation text as an exception to word-break as a work-around. */
  word-break: normal;
}
